<div class="card main-card" id="login-card">
  <h2>Connexion</h2>

  <div class="form-div">
    <form #loginForm="ngForm" (ngSubmit)="login()">
      <div class="form-group"><label for="email"><h4>E-mail : </h4></label>
        <input type="text" id="email" name="email" #email ngModel email required>
        @if (email.value && !email.checkValidity()){ <span> L'e-mail n'est pas valide </span> }
      </div>
      <div class="form-group"><label for="password"><h4>Mot de passe : </h4></label>
        <input type="password" id="password" name="password"  ngModel #password required></div>
      <label id="rememberme">
        <input type="checkbox" checked="checked" name="rememberme" [defaultChecked]="false"> Se rappeler de moi
      </label>
      <div id="login-btns">
        <br>
        <button type="submit" [disabled]="!loginForm.form.valid">&nbsp; Se connecter &nbsp;</button>
        <button type="button" class="google-login" (click)="alert('Désolé, la connexion avec Google est en cours de développement.')"><img class="google-login" alt="Se connecter avec Google" src="google-icon.svg"></button>
      </div>
      <div id="register">
        Vous n'avez pas encore de compte ?
        <a [routerLink]="['/register']">Créer un compte</a>
      </div>
    </form>
  </div>

</div>

<style>
  /* ----- Portrait (mobile & tablette) ----- */
  @media (orientation: portrait) {

    #register { margin-bottom: 0 !important; }
    .form-group:first-of-type { margin-top: 0.4rem !important; }
    .form-group { width: calc(100% - 0.4rem) !important; }
    .form-div { flex-direction: row !important; }
    input[type=text], input[type=password] { width: 100% !important; }
    label { width: 98% !important; }
  }

  form{
    width: 25rem;
    max-width: 25rem;
  }

  .form-group {
    flex-direction: column;
    align-items: center;
    margin-bottom: 0.8rem;
  }

  .form-group:first-of-type { margin-top: 0; }

  label {
    margin-bottom: 0.4rem;
    margin-left: 0.4rem;
    text-align: start;
    width: 90%;
  }

  #rememberme {
    width: 100%;
    margin-top: -0.4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  input {
    margin-left: 0;
    width: 90%;
    height: 2.2rem;
  }

  button {
    margin-left: 0;
    height: 2.6rem;
  }

  #login-btns {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    gap: 1rem;
    align-items: center;
    justify-content: center;
  }

  .google-login {
    height: 2.8rem;
    width: 2.8rem;
    border-radius: 50%;
    padding: 0 !important;
  }

  img.google-login { margin-left: -1px; }

  #register {
    width: 100%;
    text-align: center;
    margin-bottom: -0.5rem;
  }

</style>
