<div class="card main-card" id="spots-form">
  @if (loading) {
    <h2> Chargement ... </h2>
    <img class="loading" alt="chargement" src="" style="margin: 2rem">
  }
  @if (error) {
    <h2> Erreur ! </h2>
    <div><span style="font-weight: 600;">{{ error }}</span><a href="{{ errorUrl }}">{{ errorUrl }}</a></div>
  }
  <h2> {{ spot?.Id ? 'Modifier spot : ' + spot.Name + ' (#' + spot.Id + ')' : 'Nouveau spot' }}</h2>
  <div id="form-div">
    <form #spotForm="ngForm" (ngSubmit)="saveSpot()">
      <div class="form-group"><label for="name"><h4>Nom : </h4></label>
      <input type="text" id="name" name="spotName" [(ngModel)]="spot.Name" required></div>
      <h5 id="form-prompt">Sélectionner la position du spot sur la carte pour obtenir les coordonnées.</h5>
      <div class="form-group"><label for="latitude"><h4> Latitude : &nbsp;&nbsp;</h4></label>
      <input #latInput id="latitude" name="latitude" [(ngModel)]="spot.Latitude" type="number" step="0.01" required></div>
      <div class="form-group"><label for="longitude"><h4> Longitude : </h4></label>
      <input #lonInput id="longitude" name="longitude" [(ngModel)]="spot.Longitude" type="number" step="0.01" required></div>
      <br><button type="submit" [disabled]="!spotForm.form.valid">{{ spot?.Id ? 'Modifier' : 'Créer' }}</button>
    </form>
    <app-map mapId='form-map' (outCoords)="updatePosition($event)"/>
  </div>
</div>

<app-footer></app-footer>
<style>
  @media (orientation: portrait) {
    form, app-map { width: 100% !important }
    h4, .form-group { margin: 0.4rem 0 !important }
    h4 ~ br { display: none }
  }

  form { width: 55%; padding: 0 1rem 0 0; }
  app-map { width: 45%; }

  .form-group:first-of-type { margin: 0.2rem auto 0.2rem auto}

  #name { width: 70% }
  #latitude, #longitude { width: 35% }

  #form-prompt {
    text-align: center;
    margin: 1.2rem 1rem 0.4rem auto;
  }

</style>
