<div class="card" id="home-card">
  <div *ngIf="error">
    <span style="font-weight: 600;">{{ error }}</span><a href="{{ errorUrl }}">{{ errorUrl }}</a>
  </div>
  <div *ngIf="forecasts">
    <span id="spot">Spot : Margaret plage - Préfailles</span><br>
    <div class="table-div">
      <tr class="labels" id="days-line" >
        <td>Date : </td>
        <td class="day" *ngFor="let forecast of forecasts" >{{ forecast.DateTime }}</td>
      </tr>
      <tr id="weather-code-line" >
        <td class="labels">Code météo : </td>
        <td class="weatherCode" *ngFor="let forecast of forecasts" >{{ forecast.WeatherCode }}</td>
      </tr>
      <tr id="temperature-line" >
        <td class="labels">Température max : </td>
        <td class="temperature" *ngFor="let forecast of forecasts" >{{ forecast.Temperature }} °C</td>
      </tr>
      <tr id="wave-height-line" >
        <td class="labels">Houle max : </td>
        <td class="waveHeight" *ngFor="let forecast of forecasts" >{{ forecast.WaveHeight }} mètres</td>
      </tr>
      <tr id="wave-direction-line" >
        <td class="labels">Direction houle : </td>
        <td class="waveDirection" *ngFor="let forecast of forecasts" >{{ forecast.WaveDirection }} degrés</td>
      </tr>
      <tr id="wave-period-line" >
        <td class="labels">Période max: </td>
        <td class="wavePeriod" *ngFor="let forecast of forecasts" >{{ forecast.WavePeriod }} secondes</td>
      </tr>
      <tr id="wind-speed-line" >
        <td class="labels">Vent max: </td>
        <td class="windSpeed" *ngFor="let forecast of forecasts" >{{ forecast.WindSpeed }} noeuds</td>
      </tr>
      <tr id="wind-direction-line" >
        <td class="labels">Direction vent : </td>
        <td class="windDirection" *ngFor="let forecast of forecasts" >{{ forecast.WindDirection }} degrés</td>
      </tr>
    </div>

  </div>
</div>

<app-footer></app-footer>
<style>
:host{
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 100%;
}

#home-card{
  min-height: 70%;
  flex-shrink: 0;
}

td{
  width: 12.5%;
  border-right: 1px solid rgba(0, 69, 143, 0.35);
}

td:last-of-type{
  border-right: none;
}

#spot{
  font-size: 1.5rem;
  font-weight: 600;
  display: block;
  margin: -3.5rem 0 0 -0.5rem;
}
</style>
