<div class="card toolbar-card">
  <h2>  @if (loadingSpot) { Chargement ... } @else if (errorSpot) { Erreur ! } @else if (spot) { {{ spot.Name }} }</h2>
  <button class="newBtn" [routerLink]="['/session/form', 'new']" [queryParams]="{ id: spot.Id }">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><line x1="12" y1="1" x2="12" y2="23"></line><line x1="1" y1="12" x2="23" y2="12"></line></svg>
    <span>Nouvelle session</span>
  </button>
  <button class="editBtn" [routerLink]="['/spot/form', spot?.Id]">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path></svg>
    <span>Modifier</span>
  </button>
  <button class="deleteBtn" (click)="deleteSpot($event)">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg>
    <span>Supprimer</span>
  </button>
  <div class="break" style="flex-basis: 100%; height: 0"></div>

  @if (loadingSpot || errorSpot || spot) {
    <div class="spot-card">
      @if (loadingSpot) { <img class="loading" alt="chargement" src="" style="margin: 2rem"> }
      @if (errorSpot) { <div><span style="font-weight: 600;">{{ errorSpot }}</span><a href="{{ errorUrlSpot }}">{{ errorUrlSpot }}</a></div> }
      @if (spot) {
        <app-map [mapId]="'map-' + spot.Id" type="readonly" [lat]="spot.Latitude" [lon]="spot.Longitude" ></app-map>
        <div class="spot-details">
            <p> Latitude = <b>{{ spot.Latitude }}</b> </p>
            <p> Longitude = <b>{{ spot.Longitude }}</b> </p>
        </div>
      }
    </div>
  }

</div>

@if (loadingForecast || errorForecast || forecasts) {
  <div class="card main-card" id="spot-forecast-card" #forecastCard>
    <h2></h2>
    @if (loadingForecast) {
      <h2> Chargement ... </h2>
      <img class="loading" alt="chargement" src="" style="margin: 2rem">
    } @else if (errorForecast) {
      <h2>Erreur !</h2>
      <div><span style="font-weight: 600;">{{ errorForecast }}</span><a href="{{ errorUrlForecast }}">{{ errorUrlForecast }}</a></div>
    } @else if (forecasts) {
      <app-forecast [forecasts]="forecasts" [type]="'3hourly'"/>
    }
  </div>
}



<app-footer></app-footer>
<style>

  .spot-card{
    min-width: 100% !important;
    margin-top: 0.2rem !important;
    padding: 0.2rem;
  }

  #spot-forecast-card{
    margin-top: 1.6rem !important;
    flex-direction: column !important;
    h2{
      display: block;
      margin-bottom: 1rem;
    }
  }
</style>
