<div class="card toolbar-card">
  <h2 *ngIf="loadingSpot">Chargement ...</h2>
  <h2 *ngIf="errorSpot">Erreur !</h2>
  <h2 *ngIf="spot">{{ spot.Name }}</h2>
  <button id="refreshSpotsBtn" (click)="refreshSpot()">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><polyline points="1 4 1 10 7 10"></polyline><path d="M3.51 15a9 9 0 1 0 2.13-9.36L1 10"></path></svg>
  </button>
  <button id="newSpotBtn" [routerLink]="['/spot/form', '{{ spot.id }}']">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><line x1="12" y1="1" x2="12" y2="23"></line><line x1="1" y1="12" x2="23" y2="12"></line></svg>
    <span>Modifier</span>
  </button>
  <div class="break" style="flex-basis: 100%; height: 0"></div>

  <div class="spot-card">
    <img *ngIf="loadingSpot" class="loading" alt="chargement" src="" style="margin: 2rem">
    <div *ngIf="errorSpot"><span style="font-weight: 600;">{{ errorSpot }}</span><a href="{{ errorUrlSpot }}">{{ errorUrlSpot }}</a></div>
    <app-map [mapId]="'map-' + spot.Id" type="readonly" [lat]="spot.Latitude" [lon]="spot.Longitude" ></app-map>
    <div *ngIf="spot" class="spot-details">
        <p> Latitude = <b>{{ spot.Latitude }}</b> </p>
        <p> Longitude = <b>{{ spot.Longitude }}</b> </p>
    </div>
  </div>

</div>

<div class="card main-card" id="spot-forecast-card" #forecastCard>
  <h2></h2>
  <h2 *ngIf="loadingForecast">Chargement ...</h2>
  <h2 *ngIf="errorForecast">Erreur !</h2>
  <img *ngIf="loadingForecast" class="loading" alt="chargement" src="" style="margin: 2rem">
  <div *ngIf="errorForecast"><span style="font-weight: 600;">{{ errorForecast }}</span><a href="{{ errorUrlForecast }}">{{ errorUrlForecast }}</a></div>
  <app-forecast *ngIf="forecasts" [forecasts]="forecasts" [type]="'3hourly'"/>
</div>




<app-footer></app-footer>
<style>

  .spot-card{
    min-width: 100% !important;
    margin-top: 0.2rem !important;
    padding: 0.2rem;
  }

  #spot-forecast-card{
    margin-top: 1.6rem !important;
    flex-direction: column !important;
    h2{
      display: block;
      margin-bottom: 1rem;
    }
  }
</style>
