<div [id]="mapId" [class]="'map ' + type"></div>

<style>
  /* ----- Portrait (mobile & tablette) ----- */
  @media (orientation: portrait) {
    .map.readonly{
      width: 8rem !important;
      height: 6rem !important;
    }
  }

  :host {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .map {
    border-radius: 0.75rem;
    cursor: pointer;
  }

  .map.classic{
    width: 32rem;
    height: 16rem;
  }

  .map.readonly{
    width: 12rem;
    height: 8rem;
    cursor: inherit;
  }

</style>
