/* ---------- Variables ---------- */
:root {
  --darkblue: #1F4E79;
  --mid-blue: #2e74b5;
  --blue: #5B9BD5;
  --light-blue: #BDD7EE;
  --black: #0D0D0D;
  --darker-grey: #292929;
  --dark-grey: #525252;
  --grey: #A5A5A5;
  --light-grey: #DBDBDB;
  --lighter-grey: #F2F2F2;
  --white: #FCFCFC;

  --spinner: url("assets/spinner.svg")
}

/* ----- Thème clair ----- */
@media (prefers-color-scheme: light) {

  :root {
    --primary-text-color: var(--darkblue);
    --secondary-text-color: var(--white);
    --aside-text-color: var(--secondary-text-color);

    --logo-background-color: rgba(0,0,0,0);

    --background-color-blue: rgba(31, 78, 121, 0.80);
    --background-color-blue-05: rgba(31, 78, 121, 0.5);
    --background-color-blue-03: rgba(31, 78, 121, 0.35);
    --background-color-blue-02: rgba(31, 78, 121, 0.25);
    --background-color-blue-01: rgba(31, 78, 121, 0.10);

    --background-color-grey: rgba(242, 242, 242, 0.3);
    --background-color-grey-01: rgba(242, 242, 242, 0.1);
    --border-color-grey: rgba(255, 255, 255, 0.2);
    --box-shadow-color: rgba(0, 0, 0, 0.1);

    --blue-gradient: linear-gradient(
      -100deg,
      #DBDBDB 0%,
      #BDD7EE 30%,
      #CFE6FC 60%,
      #F2F2F2 100%
    );

    --blue-transparent-gradient: linear-gradient(
      75deg,
      #5B9BD559 0%,
      #FCFCFC59 35%,
      #1F4E7959 75%,
      #5B9BD559 100%
    );
  }

}

/* ----- Thème foncé ----- */
@media (prefers-color-scheme: dark) {

  :root {
    --primary-text-color: var(--lighter-grey);
    --secondary-text-color: var(--darkblue);
    --aside-text-color: var(--primary-text-color);

    --logo-background-color: var(--light-grey);

    --background-color-blue: rgba(91, 155, 213, 0.15);
    --background-color-blue-05: rgba(46, 116, 181, 0.5);
    --background-color-blue-03: rgba(46, 116, 181, 0.35);
    --background-color-blue-02: rgba(46, 116, 181, 0.2);
    --background-color-blue-01: rgba(46, 116, 181, 0.1);

    --background-color-grey: rgba(82, 82, 82, 0.3);
    --background-color-grey-01: rgba(122, 122, 122, 0.1);
    --border-color-grey: rgba(102, 102, 102, 0.2);
    --box-shadow-color: rgba(42, 42, 42, 0.1);

    --blue-gradient: linear-gradient(
      -100deg,
      #3c3c3c 0%,
      #233545 30%,
      #2c3b47 60%,
      #293137 100%
    );

    --blue-transparent-gradient: linear-gradient(
      75deg,
      rgba(63, 108, 149, 0.15) 0%,
      rgba(108, 108, 108, 0.15) 35%,
      rgba(20, 51, 78, 0.15) 75%,
      rgba(66, 113, 156, 0.15) 100%
    );
  }

}

/* ---------- Général ---------- */
html, body, #main-div, app-root {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

html {
  background: var(--blue-gradient);
  background-size: 400% 400%;
  animation: gradient 40s ease infinite;
}

body {
  margin: 0;
  font-size: 0.9rem;
  font-family: "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  color: var(--primary-text-color);
  background: var(--blue-transparent-gradient);
  background-size: 500% 600%;
  animation: gradient 30s ease infinite;
}

/* ---------- Header ---------- */
header {
  padding: 0.4rem 0.8rem;
  background-color: var(--background-color-grey);
  box-shadow: 0 4px 20px var(--box-shadow-color);
  border-bottom: 1px solid var(--border-color-grey);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

#title{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

header h1 {
  color : var(--primary-text-color);
  margin: 0 0.8rem;
}

.logo{
  height: 2.5rem;
  padding: 2px;
  border-radius: 50%;
  background-color: var(--logo-background-color);
}

/* ---------- Main ---------- */
main{
  height: calc(100% - 3.75rem - 1px);
  width: 100%;
  display: flex;
  flex-direction: row;
}

app-home, app-spots, app-spot-detail, app-spot-form, app-sessions, app-session-detail, app-session-form, app-guest{
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: auto;
  height: 100%;
}

.card{
  margin: 2.8rem;
  min-width: 90%;
  padding: 1.5rem 1rem 1rem 1rem;
  background: var(--background-color-grey);
  box-shadow: 0 6px 30px var(--box-shadow-color);
  border: 1px solid var(--border-color-grey);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  transform-style: preserve-3d;
  transition: transform 0.1s ease;
  border-radius: 0.75rem;
}

/* ---------- Volet aside ---------- */
aside{
  min-width: 11.2rem;
  padding: 0.8rem 0.6rem 0.3rem 0.6rem;
  background: var(--background-color-blue);
  box-shadow: 0 6px 30px var(--box-shadow-color);
  border-right: 1px solid var(--background-color-blue-02);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-bottom-right-radius: 0.75rem;
  color: var(--aside-text-color);
}

aside svg{
  fill: none;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  width: 1.6rem;
  height: 1.6rem;
  margin: 0 0.5rem -0.35rem 0;
}

nav, ul {
  height: 100%;
}

ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  font-weight: 400;
}

#guestBtn{
  margin-top: auto;
}

li {
  margin: 0 0 0.55rem 0;
}

li a {
  display: block;
  padding: 0.4rem 1rem;
  border-radius: 0.5rem;
  color: var(--aside-text-color);
  stroke: var(--aside-text-color);
  border: 1px solid transparent;
  transition:
    margin 0.3s ease,
    background-color 0.25s ease,
    border-color 0.25s ease;
}

li a:hover {
  margin-top: 0.2rem;
  margin-bottom: -0.2rem;
}

li a:hover, li.active a {
  color: var(--aside-text-color);
  background: var(--background-color-grey-01);
  border: 1px solid var(--border-color-grey);
}

li a:focus {
  margin-top: 0.4rem;
  margin-bottom: -0.4rem;
  color: var(--aside-text-color);
  background: var(--background-color-grey);
  border: 1px solid var(--border-color-grey);
  box-shadow:inset 0 0 0.5rem var(--box-shadow-color);
}

/* ---------- Texte ---------- */
a {
  text-decoration: none;
  color: var(--dark-grey);
}

a:hover, a:focus {
  color: var(--grey);
}

a.disabled {
  cursor: not-allowed;
  color: var(--grey) !important;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  margin: 0 1rem 0.5rem 1rem;
}

h1 { font-size: 1.8rem }
h2 { font-size: 1.4rem }
h3 { font-size: 1.2rem }
h4 { font-size: 1.1rem }
h5 { font-size: 1rem }


h2:first-of-type {
  display: block;
  margin: -3.8rem 0 0 -0.5rem;
}



/* ---------- Boutons et inputs ---------- */

input {
  padding: 0.25rem;
  font-size: 1rem;
  color: var(--primary-text-color);
  border-radius: 0.25rem;
  border: 1px solid var(--background-color-blue-05);
  background-color: var(--background-color-blue-01);
}

input:read-only {
  border-right: 1px solid var(--background-color-blue-02);
}

button {
  cursor:pointer;
  margin-top: 1rem;
  padding: 0.25rem 0.75rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  color: var(--primary-text-color);
  background-color: var(--background-color-blue-01);
  border: 1px solid var(--background-color-blue-05);
  transition:
    margin 0.3s ease,
    background-color 0.25s ease,
    border-color 0.25s ease;
}

button:hover {
  margin-top: 1.2rem;
  margin-bottom: -0.2rem;
}

button:hover, button:active {
  background-color: var(--background-color-blue-02);
}

button:focus {
  margin-top: 1.4rem;
  margin-bottom: -0.4rem;
  background-color: var(--background-color-blue-03);
  box-shadow:inset 0 0 0.5rem var(--box-shadow-color);
}

.leaflet-marker-icon {
  cursor: grab !important;
}

/* ---------- Loader etc ---------- */
.loading{
  content: var(--spinner);
  max-height: 3rem;
}

/* ---------- Animation des dégradés en arrière plan ---------- */
@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  25% {
    background-position: 35% 50%;
  }
  75% {
    background-position: 65% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
