<div class="card toolbar-card explanation-card">
  <p>🛠️ Mode <b>Sessions-Web</b> standalone - l'application fonctionne sans <b>Sessions-API</b> (gestion des comptes, spots, sessions ...).</p>
    <p>💡Tout se déroule dans votre navigateur: l'API <a href="https://open-meteo.com/">Open-Meteo</a> est interrogée directement,
    sa réponse brute est affichée, et aucune donnée n'est enregistrée.</p>
</div>
<div class="spacer top"></div>
<div class="card main-card" id="standalone-card">
  <h2 id="spot">Mode Web standalone :</h2>

  <div id="locationDiv">
    <div id="locationPrompt">
      <h4>Sélectionner un point sur la carte, et valider pour obtenir les prévisions météo marines.</h4>
      <br><h4>Point sélectionné : </h4>
      <p> Latitude = &nbsp;&nbsp;<input #latInput type="text" required> </p>
      <p> Longitude =<input #lonInput type="text" required> </p>
      <br>
      <button #validateCoordsBtn (click)="getForecasts()" [disabled]="!latInput.value || !lonInput.value">Valider</button>
    </div>
    <app-map mapId='standalone-map' (outCoords)="updatePosition($event)"/>
  </div>

  @if (loading) {
    <h2> Chargement ... </h2>
    <img class="loading" alt="chargement" src="" style="margin: 2rem">
  }
  @if (error) {
    <h2> Erreur ! </h2>
    <div><span style="font-weight: 600;">{{ error }}</span><a href="{{ errorUrl }}">{{ errorUrl }}</a></div>
  }

  @if (forecasts) { <app-forecast [forecasts]="forecasts" [type]="'standalone'" /> }


</div>
<div class="spacer bottom"></div>

<style>
  /* ----- Portrait (mobile & tablette) ----- */
  @media (orientation: portrait) {
    #locationDiv { flex-direction: column !important; margin-bottom: 0 !important }
    #locationPrompt, app-map { width: 100% !important }
    #locationPrompt {justify-content: start !important; order: 1}
    h4, p { margin: 0.4rem 0 !important }
    h4 ~ br { display: none }
  }

  .spacer.top { min-height: 1.8rem }

  #locationDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 1rem;
    width: 100%;
  }

  #locationPrompt {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #locationPrompt { width: 55%; }
  app-map { width: 45%; }

  h4 {
    margin: 0 0.4rem 0.6rem 0;
    text-align: center;
  }

  p:first-of-type { margin: 0 !important;}
  p { margin: 0.4rem 0; }

  input {
    width: 10rem;
    text-align: center;
  }

  button {
    margin-left: 25%;
  }

</style>

